@model BusinessEntities.VideoProductEntity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VideoProduct</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProductId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VideoId, "Video")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VideoId", String.Empty)
            @Html.ValidationMessageFor(model => model.VideoId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
