@model BusinessEntities.AlbumEntity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Editing Album Category</h2>
</div>  

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Tittle)
        </div>
        <div class="editor-field col-4">
            @Html.EditorFor(model => model.Tittle)
            @Html.ValidationMessageFor(model => model.Tittle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId, "ParentId")
        </div>
        <div class="editor-field col-4">
            @Html.DropDownList("ParentId", string.Empty)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Level)
        </div>
        <div class="editor-field col-4">
            @Html.EditorFor(model => model.Level)
            @Html.ValidationMessageFor(model => model.Level)
        </div>

        <div class="editor-field">
            <input class="button" type="submit" value="Save" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "button red-button"})
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
