@model IEnumerable<BusinessEntities.AlbumEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrap">
    <div class="setting-title">
        <h2 class="title_box">Album Categories</h2>
        @Html.ActionLink("Create New", "Create", null , new {@class = "button"})
    </div>  
    <table>
        <tr>
            <th class="col-5">
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th class="col-2">
                @* @Html.DisplayNameFor(model => model.ParentId) *@
                Parent
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th class="col-2">Actions</th>
        </tr>
        @if(Model!=null)
        {
            foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tittle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        }
    </table>

</div>

<div class="clear"></div>
