@model BusinessEntities.AlbumProductEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Chi tiết</h2>
</div>  

<fieldset class="border-box col-4">
    <legend></legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Product.Name)*@
        Tên
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Album.Tittle)*@
        Album
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Album.Tittle)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Year)*@
        Năm
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>
</fieldset>

<div class="setting-title">
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }, new { @class = "button"})
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "button", @style="margin-left: 10px;"} )
</div>
