@model IEnumerable<BusinessEntities.AlbumProductEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Danh sách album</h2>
    @Html.ActionLink("Thêm mới", "Create", null , new {@class = "button"})
</div>  

<table>
    <tr>
        <th colspan="3">
            @*@Html.DisplayNameFor(model => model.Product.Name)*@
            Album
        </th>
    </tr>

    @{

        var albums = Model.GroupBy(x => x.Album.Tittle);

        if (albums != null)
        {
            foreach (var item in albums)
            {
                <tr>
                    <td colspan="3" style="background: #dedede;">
                        <b>@Html.DisplayFor(modelItem => item.First().Album.Tittle)</b>
                    </td>
                </tr>

                foreach (var product in item)
                {
                    <tr>
                        <td style="padding-left: 50px; background: none;" colspan="2">
                            @Html.ActionLink(product.Product.Name, "Details", "product" , new { id=product.Product.Id }, null)
                            (@Html.DisplayFor(modelItem => product.Year))
                        </td>
                        <td style="background: none;">
                            @Html.ActionLink("Edit", "Edit", new { id=product.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=product.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=product.Id })
                        </td>
                    </tr>
                }
            
            }
        }
    }

</table>
