@model BusinessEntities.ProductEntity

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Thêm sản phẩm</h2>
</div>  

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="col-4">
        <legend></legend>
        <div class="editor-label">
            @*@Html.LabelFor(model => model.ArtistProductId, "ArtistProduct")*@
            Ca sĩ
            
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistProductId", String.Empty)
            @Html.ValidationMessageFor(model => model.ArtistProductId)
             Chưa có ca sĩ? 
            @Html.ActionLink("Tạo ở đây", "Create", "ArtistProduct", null, new { @style="color: #ff6a00;" })
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Name)*@
            Tên bài hát
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Category)*@
            Loại
        </div>
        <div class="editor-field">
            @{
                var items = new List<SelectListItem>{
                    new SelectListItem() {Text = "Nhạc", Value = "Music", Selected = true},
                    new SelectListItem() {Text = "Video", Value = "Video", Selected = false}
                };
                
                 @Html.DropDownListFor(m => m.Category, new SelectList(items, "Value", "Text"));
            }
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @rows=10, @cols=50 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.URL)*@
            Sản phẩm
            <br />
            <div class="fileinput-button">
                <i class="fa fa-plus"></i>
                <span class="status-text">Upload...</span>
                <input id="fileupload" type="file" accept="audio/*,video/*">
                <input type="hidden" class="object-context" value="files">
                <input type="hidden" class="upload-context" value="musics">
            </div>
            <br />
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL)
            @Html.ValidationMessageFor(model => model.URL)
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Thumbnail)*@
            Ảnh
            <br />
            <div class="imageinput-button">
                <i class="fa fa-plus"></i>
                <img class="thumb-upload" src="../../Images/default_thumbnail.jpg" width="200" height="200" />
                <input id="imageupload" type="file" accept="image/*">
                <input type="hidden" class="object-context" value="thumbnails">
                <input type="hidden" class="upload-context" value="products">
            </div>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thumbnail)
            @Html.ValidationMessageFor(model => model.Thumbnail)
        </div>

        <div class="editor-field">
            <input class="button red-button" type="submit" value="Tạo" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "button"})
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Scripts for the jQquery File Upload Plugin in Basic Plus UI style* -->
    @Scripts.Render("~/backload/blueimp/bootstrap/Basic")
    <!-- resize image -->
    @Scripts.Render("~/bundles/jquery/resizeimage")


    @Scripts.Render("~/Scripts/image.upload.js")
    @Scripts.Render("~/Scripts/file.upload.js")

    <script type="text/javascript">
        $('#Category').change(function () {
            var v = $(this).val();

            if (v == "Music") {
                $('.fileinput-button .upload-context').attr("value", "musics");
            } else {
                $('.fileinput-button .upload-context').attr("value", "videos");
            }
        });

    </script>
}
