@model BusinessEntities.ProductEntity

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Thêm sản phẩm</h2>
</div>  

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="col-4">
        <legend></legend>
        <div class="editor-label">
            @*@Html.LabelFor(model => model.ArtistProductId, "ArtistProduct")*@
            Ca sĩ
            
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistProductId", String.Empty)
            @Html.ValidationMessageFor(model => model.ArtistProductId)
             Chưa có ca sĩ? 
            @Html.ActionLink("Tạo ở đây", "Create", "ArtistProduct", null, new { @style="color: #ff6a00;" })
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Name)*@
            Tên bài hát
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Category)*@
            Loại
        </div>
        <div class="editor-field">
            @{
                var items = new List<SelectListItem>{
                    new SelectListItem() {Text = "Nhạc", Value = "Music", Selected = true},
                    new SelectListItem() {Text = "Video", Value = "Video", Selected = false}
                };
                
                 @Html.DropDownListFor(m => m.Category, new SelectList(items, "Value", "Text"));
            }
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @rows=10, @cols=50 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.URL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.URL)
            @Html.ValidationMessageFor(model => model.URL)
            <input type="file" accept="audio/*" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Thumbnail)
            <br />
            <img src="../../Images/default_avatar.jpg" width="100" height="100"/>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thumbnail)
            @Html.ValidationMessageFor(model => model.Thumbnail)
            <input type="file" accept="image/*" />
        </div>

        <div class="editor-field">
            <input class="button red-button" type="submit" value="Tạo" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "button"})
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
