@model BusinessEntities.ProductEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Chi tiết @Html.DisplayFor(model => model.Name)</h2>
</div> 

<fieldset class="col-4 border-box">
    <legend></legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Thumbnail)*@
        <img width="100" height="100" src="/Images/@Html.DisplayFor(model => model.Thumbnail)" />
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.ArtistProduct.StageName)*@
        Ca sĩ
    </div>
    <div class="display-field">
         @Html.DisplayFor(model => model.ArtistProduct.StageName)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Name)*@
        Tên
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Category)*@
        Loại
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Description)*@
        Chi tiết
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.URL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.URL)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Views)*@
        Số lượng xem
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Views)
    </div>
</fieldset>

<div class="setting-title">
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }, new { @class = "button"})
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "button", @style="margin-left: 10px;"} )
</div>
