@model BusinessEntities.ProductEntity

    <div id="info-span" class="info-span">
        <div id="artistthumbnail"class="thumbnail-artist">
                <a href="~/ArtistProduct/ViewArtist?artistId=@Model.ArtistProductId" 
                   title="@Html.DisplayFor(modelItem => modelItem.ArtistProduct.StageName))">
                    <img src="/Images/@Html.DisplayFor(modelItem => modelItem.ArtistProduct.Thumbnail)" 
                         alt="@Html.DisplayFor(modelItem => modelItem.ArtistProduct.StageName)" 
                         class="thumbnail-artist"/>
                </a>
        </div>
        <div id="info-content" class="info-content">
            <div class="info-text info-title">
                <p class="inline">@Html.DisplayFor(modelItem => modelItem.Name)</p>
                <span style="margin:0 5px">-</span>
                <div class="inline" style="font-weight:300;">
                    @Html.ActionLink(@Model.ArtistProduct.StageName, "ViewArtist", "ArtistProduct", new {artistId =  @Model.ArtistProductId}, null)
                </div>
            </div>
            <div class="info-text">
                @* Foreach cho đỡ quăng lỗi *@
                <p>
                    Album: 
                    @foreach (var item in @Model.AlbumProducts)
                    {
                        var temp = item.Album.Tittle + ", ";
                        @temp;
                    }
                    
                </p>
            </div>
            <div class="info-text">
                <p>Thể loại: @Html.DisplayFor(modelItem => modelItem.Category)</p>
            </div>
        </div>
    </div>
    