<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Control Panel</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />

        <script type="text/javascript" src="~/Scripts/jquery-1.11.0.min.js"></script>
        @RenderSection("styles", required: false)
    </head>
    <body>
        <header>
            <nav class="second-menu setting-top-panel">
                <div class="setting-content">
                    <ul class="level-1-menu">
                        <li class="home-button">
                            <span class="fa fa-home home-icon"></span>
                            @Html.ActionLink("Trang chủ", "Index", "Home")
                        </li>
                    </ul>
                </div>
            </nav>
            
        </header>
        <div id="body">
            <div class="setting-panel col-left">
                 @RenderPage("~/Views/Shared/_SettingPanel.cshtml")
            </div>

            <div class="setting-content">
                @RenderBody()
            </div>

            <div class="clear"></div>
        </div>
        <footer>
            <div class="container">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Web Nghe Nhac</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
