<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@ViewBag.Title - Web Nghe Nhạc</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/slick.css"/>
        <link rel="stylesheet" type="text/css" href="~/Content/slick-theme.css"/>

        <script type="text/javascript" src="~/Scripts/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.leanModal.min.js"></script>
        <script type="text/javascript" src="~/Scripts/slick.js"></script>
		@if (IsSectionDefined("mediaplayerstyle"))
        {
            @RenderSection("mediaplayerstyle", required: false);
        }
    </head>
    <body>
        
        <header>
            <nav class="top-menu">
                @RenderPage("~/Views/Shared/_TopMenu.cshtml")
		    </nav>

		    <nav class="second-menu navbar navbar-default">
                @RenderPage("~/Views/Shared/_SecondMenu.cshtml")
            </nav>
        </header>

        <div class="container">
            @RenderBody()
			@if (IsSectionDefined("playerscript"))
            {
                @RenderSection("playerscript", required: false);
            }
        </div>

        <div class="play-control">

        </div>

        <footer>
            <div class="">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Web nghe nhạc</p>
                </div>
            </div>
        </footer>
        
        <!-- SCRIPT -->
        <script type="text/javascript">
            //$(window).scroll(function () {
            //    if ($(".second-menu").offset().top > 10) {
            //        $(".second-menu").addClass("is-fixed-top");
            //    }
            //    else {
            //        $(".second-menu").removeClass("is-fixed-top");
            //    }
            //});
        </script>
    </body>
</html>
