@model DoAnWebNgheNhac.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="border-box col-4" >
        <legend>Đổi mật khẩu</legend>
        <div class="editor-label">
            Mật khẩu cũ
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
        </div>

        <div class="editor-label">
            Mật khẩu mới
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>

        <div class="editor-label">
            Nhập lại Mật khẩu mới
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        <input class="button" type="submit" value="Đổi mật khẩu" />
    </fieldset>
}
