@model DoAnWebNgheNhac.Models.LocalPasswordModel
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-setting">

    <div class="setting-title">
        <h2 class="title_box">Xin chào, @User.Identity.Name</h2>
    </div> 

    <p class="message-success">@ViewBag.StatusMessage</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
