@model IEnumerable<BusinessEntities.VideoEntity>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    @if (Model.Count() > 0)
    { 
        <h2 class="title_box">Chi tiết @Html.Action("GetNameById", new { id = Model.First().ParentId })</h2>
    }
    else
    {
        <h2 class="title_box">Chi tiết</h2>
    }
</div>  

<table>
     <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Tittle)*@
            Tên
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Level)*@
            Cấp
        </th>
        <th></th>
    </tr>
    @if(Model!=null)
    {
        foreach(var item in Model)
        {
             <tr>
                <td>
                    @Html.ActionLink(item.Tittle, "Details", new { id=item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    }
</table>
<div class="setting-title">
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "button"} )
</div>
