@model BusinessEntities.ProductEntity


@{

    // Thời gain đã play của cả bài nhạc, đơn vị phần trăm so với cả bài nhạc.
    var playedpercent = "10";

    var fulllyric = "Con tim em sao quá yêu anh\nCon tim em sao quá mong manh\nCon tim em sao quá đau lòng\nKhi em nhìn thấy anh cười\nvới ai";
    // Số lượt view

}

@section _comunity_metadata{
        <meta name="og:url"                content="http://localhost:61055/Home/PlayMusic" />
        <meta name="og:type"               content="music.song" />
        <meta name="og:title"              content="@Model.Name" + " - " + "@Model.ArtistProduct.StageName" />
        <meta name="og:description"        content="Description" />
        <meta name="og:image"              content="@Model.Thumbnail"/>
        <meta name="og:sitename"           content="Web Nghe Nhac" />
}
@{
    ViewBag.Title = @Html.DisplayFor(modelItem => modelItem.Name) + " - " + @Html.DisplayFor(modelItem => modelItem.ArtistProduct.StageName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section mediaplayerstyle{
    <link rel="stylesheet" type="text/css" href="../../Content/CustomStyle/mediaplayer.css">
}

<div class="box_left">

    @{
        Html.RenderAction("InfoSpan", "Product",Model);
    }

    @RenderPage("~/Views/Product/_MediaPlayer.cshtml", new { product = @Model })
    @RenderPage("~/Views/Product/_ComunityBar.cshtml", new { text="Lượt Nghe"})

    <div id="lyricbox" class="lyricbox">
        <div id="lyrictitle" class="lyrictitle">
            <label style="font-weight:400">Lời bài hát</label>
            <s>@Html.DisplayFor(modelItem => modelItem.Name)</s>
        </div>
        <div id="lyric-content" class="lyric-content">
            @{
                var lyric = Model.Description.Split('\n');
                foreach (var item in lyric)
	            {
		            <p>@item</p>
	            }
            }
        </div>
    </div>

   
     @section playerscript{
        <script type="text/javascript" src="~/Scripts/CustomScripts/player.js")" ></script>
    }

    <div>
        <div class="list_album list_album_musicview">
		    <div class="title_box">
			    <a href="#">Album Của @Html.DisplayFor(modelItem => modelItem.ArtistProduct.StageName)</a>
		    </div>

		    <ul class="album-list">
                @{
                    var albumproducts = Model.AlbumProducts;
                    int count = albumproducts.Count();
                    var max = Math.Max(4, count);
                    int index;
                    Random rand = new Random();
                    List<BusinessEntities.AlbumProductEntity> select = new List<BusinessEntities.AlbumProductEntity>(max);
                    if (count < max)
                    {
                        select = Model.AlbumProducts.ToList();
                    }
                    else
                    {
                        for (int i = 0; i < max; )
                        {
                            index = rand.Next(0, count);
                            if (select.Contains(@Model.AlbumProducts.ElementAt(index)) == false)
                            {
                                select.Add(@Model.AlbumProducts.ElementAt(index));
                                if (select.Count == max)
                                {
                                    break;
                                }
                            }
                        }
                    }
                }
                @foreach (var item in select)
                {
                    <li>
                         <a class="thumbnail" href="#" onmouseover="">
                            <span class="fa fa-play-circle play-icon"> </span>
			                <img src="../../Images/@Model.Thumbnail">
		                 </a>
                         <div class="description">
                            <h3>
                                @Html.ActionLink(item.Album.Tittle, "PlayAlbum", "Home", new {albumId = item.AlbumId}, null)
                            </h3>
			                <h4>
                                @Html.ActionLink(@Model.ArtistProduct.StageName, "ViewArtist", "ArtistProduct", new {artistId = @Model.ArtistProduct.Id}, null)
			                </h4>
                         </div>
                    </li>              
                }
             </ul>
        </div>
    </div>
    @{
        Html.RenderAction("Videos", "ArtistProduct", new { artistId = @Model.ArtistProduct.ArtistId });
    }

</div>

<div class="box_right">

    @*Lấy những bài hát cùng ca sĩ*@
    
    @{
        Html.RenderAction("Songs", "ArtistProduct", new { artistId = @Model.ArtistProduct.ArtistId });
    } 
</div>