@model IEnumerable<BusinessEntities.ProductEntity>


@{

    // Thời gain đã play của cả bài nhạc, đơn vị phần trăm so với cả bài nhạc.
    var playedpercent = "10";

    var fulllyric = "Con tim em sao quá yêu anh\nCon tim em sao quá mong manh\nCon tim em sao quá đau lòng\nKhi em nhìn thấy anh cười\nvới ai";
    // Số lượt view

    BusinessEntities.ProductEntity currentProduct = @Model.First();
    int count = @Model.Count();
}

@section _comunity_metadata{
        <meta name="og:url"                content="http://localhost:61055/Home/PlayMusic" />
        <meta name="og:type"               content="music.song" />
        <meta name="og:title"              content="@currentProduct.Name" + " - " + "@currentProduct.ArtistProduct.StageName" />
        <meta name="og:description"        content="Description" />
        <meta name="og:image"              content="@currentProduct.Thumbnail"/>
        <meta name="og:sitename"           content="Web Nghe Nhac" />
}
@{
    ViewBag.Title = currentProduct.Name + " - " + currentProduct.ArtistProduct.StageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section mediaplayerstyle{
    <link rel="stylesheet" type="text/css" href="../../Content/CustomStyle/mediaplayer.css">
}

<div class="box_left">

    @for (int i = 0; i < count; i++)
    {
        <div id="info_span_li_@i.ToString()" style="display: none;">
            @{
                Html.RenderAction("InfoSpan", "Product", @Model.ElementAt(i));
            }    
        </div>  
    }

    @RenderPage("~/Views/Product/_MediaPlayer.cshtml",new {product = currentProduct})

    @{
        Html.RenderAction("PlayList", "AlbumProduct", new { products = @Model });    
    }

@*    @RenderPage("~/Views/Product/_ComunityBar.cshtml", new { text="Lượt Nghe"})*@
    @for (int i = 0; i < count; i++)
    {
        <div id="lyricbox_li_@i.ToString()" style="display: none;">
            <div id="lyricbox" class="lyricbox">
                <div id="lyrictitle" class="lyrictitle">
                    <label style="font-weight:400">Lời bài hát</label>
                    <s>@Model.ElementAt(i).Name</s>
                </div>
                <div id="lyric-content" class="lyric-content">
                    @{
                        var lyric = Model.ElementAt(i).Description.Split('\n');
                        foreach (var item in lyric)
	                    {
		                    <p>@item</p>
	                    }
                    }
                </div>
            </div>
        </div>        
    }


     @section playerscript{
        <script type="text/javascript" src="~/Scripts/CustomScripts/player.js")" ></script>
    }

</div>

<div class="box_right">

    @*Lấy những bài hát cùng ca sĩ*@
    
    @{
        Html.RenderAction("Songs", "ArtistProduct", new { artistId = @currentProduct.ArtistProduct.ArtistId });
    } 
</div>