@model IEnumerable<BusinessEntities.VideoProductEntity> 
@{
    ViewBag.Title = "ViewIndex";
}

<div class="content col-left">

@if(Model.Count() > 0)
{
    <div class="title_box">
	    Video
        <span class="fa fa-angle-right"></span>
        @Html.ActionLink(@Model.First().Video.Tittle, "VideoIndex", "Home", new { Id = @Model.First().VideoId }, null)
    </div>

    <div class="list_video">
        <ul class="">
            @foreach (var item in Model)
            {
                <li>
                     <a class="thumbnail thumb-small" href="#" onmouseover="">
                        <span class="fa fa-play-circle play-icon"> </span>
			            <img src="@Html.DisplayFor(modelItem => item.Product.Thumbnail)" />
		             </a>
                     <div class="description">
			             <h3><a href="/home/playvideo?id=@item.ProductId">@Html.DisplayFor(modelItem => item.Product.Name)</a></h3>
                         <h4> @Html.ActionLink(@item.Product.ArtistProduct.StageName, "ViewArtist", "ArtistProduct", new { artistId = item.Product.ArtistProductId }, null)</h4>
                     </div>
                </li>
            }
        </ul>
    </div>
}
else {
    <div class="title_box">
	    Rất tiết không có video nào trong mục này.
    </div>
}

</div>
<script type="text/javascript">
</script>