@model BusinessEntities.ArtistProductEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    
}



<div class="content">
<div class="setting-title">
    <h2 class="title_box">Thêm mới Nghệ sĩ</h2>
</div>  

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="col-4">
        <legend></legend>
        <div class="editor-label">
            @*@Html.LabelFor(model => model.ArtistId, "Artist")*@
            Mục
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistId", String.Empty)
            @Html.ValidationMessageFor(model => model.ArtistId)
             Chưa có mục cho người này? 
            @Html.ActionLink("Tạo ở đây", "Create", "Artist", null, new { @style="color: #ff6a00;" })
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.StageName)*@
            Nghệ danh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StageName)
            @Html.ValidationMessageFor(model => model.StageName)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.RealName)*@
            Tên thật
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RealName)
            @Html.ValidationMessageFor(model => model.RealName)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.BirthDay)*@
            Ngày sinh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDay)
            @Html.ValidationMessageFor(model => model.BirthDay)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Gender)*@
            Giới tính
        </div>
        <div class="editor-field">
            @{
                var items = new List<SelectListItem>{
                    new SelectListItem() {Text = "Nam", Value = "Nam", Selected = true},
                    new SelectListItem() {Text = "Nữ", Value = "Nữ", Selected = false},
                    new SelectListItem() {Text = "Khác", Value = "Khác", Selected = false}
                };
                
                 @Html.DropDownListFor(m => m.Gender, new SelectList(items, "Value", "Text"));
            }
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Country)*@
            Quốc tịch
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Specialization)*@
            Khả năng
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Specialization)
            @Html.ValidationMessageFor(model => model.Specialization)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Description)*@
            Thông tin chi tiết
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @cols=50, @rows=10 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Thumbnail)*@
            Ảnh
            <br />
            <div class="imageinput-button">
                <i class="fa fa-plus"></i>
                <img class="thumb-upload" src="../../images/default_avatar.jpg" width="200" height="200" />
                <input id="imageupload" type="file" accept="image/*">
                <input type="hidden" class="object-context" value="thumbnails">
                <input type="hidden" class="upload-context" value="artists">
            </div>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thumbnail)
            @Html.ValidationMessageFor(model => model.Thumbnail)
        </div>

        <div class="editor-field">
            <input class="button red-button" type="submit" value="Tạo" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "button"})
        </div>
    </fieldset>
}

</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Scripts for the jQquery File Upload Plugin in Basic Plus UI style* -->
    @Scripts.Render("~/backload/blueimp/bootstrap/Basic")
    <!-- resize image -->
    @Scripts.Render("~/bundles/jquery/resizeimage")


    @Scripts.Render("~/Scripts/image.upload.js")
}


