@model BusinessEntities.ArtistProductEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Thông tin chi tiết</h2>
</div>  

<fieldset class="col-4 border-box">
    <legend></legend>

    <div class="display-label">
        <img src="@Html.DisplayFor(model => model.Thumbnail)" alt="Ảnh" width="200" height="200" />
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Artist.Tittle)*@
        Tên
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist.Tittle)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.StageName)*@
        Nghệ danh
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StageName)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.RealName)*@
        Tên thật
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RealName)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.BirthDay)*@
        Ngày sinh
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDay)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Gender)*@
        Giới tính
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Country)*@
        Quốc tịch
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Specialization)*@
        Kỹ năng đặc biệt
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Specialization)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Description)*@
        Thông tin chi tiết
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

</fieldset>

<div class="setting-title">
        @Html.ActionLink("Sửa", "Edit", new { id=Model.Id }, new  { @class = "button"})
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "button ", @style="margin-left: 10px;"})
</div>
