@model BusinessEntities.ArtistProductEntity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="setting-title">
    <h2 class="title_box">Sửa @Html.DisplayFor(model => model.StageName)</h2>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="col-4">
        <legend></legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Thumbnail)*@
            <img src="@Html.DisplayFor(model => model.Thumbnail)" width="100" height="100"/>
        </div>
        <div class="editor-field">
            from Url:
            @Html.EditorFor(model => model.Thumbnail)
            @Html.ValidationMessageFor(model => model.Thumbnail)
            <input id="thumbnailPicker" type="file" accept="image/*" />
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.ArtistId, "Artist")*@
            Mục nghệ sĩ
        </div>
        <div class="editor-field">
            @Html.DropDownList("ArtistId", String.Empty)
            @Html.ValidationMessageFor(model => model.ArtistId)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.StageName)*@
            Nghệ danh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StageName)
            @Html.ValidationMessageFor(model => model.StageName)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.RealName)*@
            Tên thật
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RealName)
            @Html.ValidationMessageFor(model => model.RealName)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.BirthDay)*@
            Ngày sinh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDay)
            @Html.ValidationMessageFor(model => model.BirthDay)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Gender)*@
            Giới tính
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Country)*@
            Quốc gia
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
           @* @Html.LabelFor(model => model.Specialization)*@
            Kỹ năng
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Specialization)
            @Html.ValidationMessageFor(model => model.Specialization)
        </div>

        <div class="editor-label">
           @* @Html.LabelFor(model => model.GroupId)*@
            Nhóm
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GroupId)
            @Html.ValidationMessageFor(model => model.GroupId)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Description)*@
            Chi tiết
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @rows = 10, @cols = 50 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-field">
            <input class="button red-button" type="submit" value="Lưu" />
            @Html.ActionLink("Hủy", "Index", null, new { @class = "button" })
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
