@model BusinessEntities.ArtistProductEntity

@{
    ViewBag.Title = @Model.StageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="../../Content/CustomStyle/viewartist.css">

<div id="banner" class="banner">
    <img src="~/Images/artist_bacground.jpg" alt="@Model.StageName" />
    <div id="info-artist-img" class="info-artist-img ">
        <img src="@Model.Thumbnail" height="160" width="160"/>
        <h1 class="info-artist-img-h1">@Model.StageName</h1>
        <p class="info-artist-img-p">@Model.Description </p>
    </div>
</div>

<div class="box_left">
    <div class="list_album list_album_musicview">
	    <div class="title_box color-title" >
		    Album Của @Model.StageName
	    </div>
	    <ul class="album-list">
    @*      @foreach (var item in Model.AlbumProducts.All())
            {
                *@<li>
                        <a class="thumbnail" href="#" onmouseover="">
                        <span class="fa fa-play-circle play-icon"> </span>
			            <img src="@Model.Thumbnail">
		                </a>
                        <div class="description">
                            @if(Model.Products.Any() == null)
                            {
			                    <h3><a href="/home/playalbum?albumId=@Model.Products.FirstOrDefault().AlbumProducts.FirstOrDefault().AlbumId">@Model.Products.FirstOrDefault().AlbumProducts.FirstOrDefault().Album.Tittle</a></h3>
			                    <h4><a href="">@Model.StageName</a></h4>
                            }
                            else
                            {
                                <h3><a href="">Không Có Album</a></h3>
			                    <h4><a href="">@Model.StageName</a></h4>
                            }
                        </div>
                </li>
            @* }*@
        </ul>
    </div>

    @{
        //Html.RenderAction("Albums", "ArtistProduct", new { artistId = Model.Id });
        
        Html.RenderAction("Videos", "ArtistProduct", new { id = Model.Id });
    }

    @*@{Html.RenderAction("SameParent", "Artist", new { parentId = @Model.ả});}*@

</div>


<div id="songs"class="box_right" >
    @{
        Html.RenderAction("Songs", "ArtistProduct", new { artistId = @Model.Id});
    } 
</div>

